// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

button {
    margin-top: 5px;
}

#postas {
    margin-bottom: 10px !important;
    align-items: center;
}

h3 {
    margin-top: 20px;
}

#likeUnlike {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#likeUnlike form {
    button {
        border: none;
        background-color: #239b56;
    }
}

.wrapper {
    height: 100%;
}
